.wrapper {
    background-color: #fff;
}
.navbar {
    height: var(--default-layout-header-height);
    display: flex;
    justify-content: center;
}
.center {
    display: flex;
    justify-content: space-around;
    height: 38px;
    margin: auto;
    width: 100%;
}
.logo {
    width: 100px;
    background-color: aquamarine;
}

.container {
    display: flex;
    height: calc(100vh - var(--default-layout-header-height));
    margin-top: var(--default-layout-header-height);
}
.slider {
    background-color: #eff3f9;
    position: relative;
    flex-grow: 2;
}
.content {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    top: 25%;
    left: 25%;
    width: 100%;
    height: 50%;
    h1 {
        color: #6c75b7;
    }
    p { padding-top: 20px;
        font-weight: 400;
        font-size: 20px;
        line-height: 36px;
    }
    div{
        display: flex;
    }
}

.main {
    flex-grow: 3;
    background-image: url('../../assets/images/Vector.png');
    background-size: auto;
    background-color: #eff3f9;
    background-repeat: no-repeat;
    background-position: left center;
   
}
.image {
    display: block;
    margin: auto;
    margin-left: 40%;
    margin-top: 10%;
}
//reponsive
@media only screen and (max-width: 620px) {
    /* For mobile phones: */
    .main{
        display: none;
    }
    .slider
    {background-image:url('../../assets/images/Car.png');
    background-size: auto;
    background-repeat: no-repeat;
    background-position:center bottom;
    
    }
    .content{
        left: 0%;
        top: 5%;
        div{
            display: none;
        }

    }
  }