.wrapper{
    width: 100%;
    height: calc(100vh - var(--default-layout-header-height));
    margin-top: var(--default-layout-header-height);
    display: flex;
}
.wrapper{
    width: 100%;
   
}
.sliderbar{
    width: 20%;
    
}
.main{
    flex-grow: 1;
    background-color: #EFF3F9;
    border-radius: 4px;
}

//reponsive
@media only screen and (max-width: 920px) {
    /* For mobile phones: */
    .sliderbar{
        display: none;
    }
    
  }