server/node_modules
server/package-lock.json
server/.env
server/combinedError.log

server/combinedNormal.log
UI/node_modules
node_modules
__pycache__/
node_modules/
generate_data/ttdk_result.json
generate_data/result.json
generate_data/cars_df.json
generate_data/cars_test1.json
generate_data/cars_test2.json
