.wrapper{
    width: 100%;
    height: 100vh;
    margin-top: var(--default-layout-header-height);
    display: flex;
}
.wrapper{
    display: flex;
    width: 100%;
   
}
.sliderbar{
    width: 325px;
    background-color: #b3dbbf;
}