.wrapper{
    width: 100%;
    height: calc(100vh - var(--default-layout-header-height));
    margin-top: var(--default-layout-header-height);
    display: flex;
}
.wrapper{
    display: flex;
    width: 100%;
   
}
.sliderbar{
    width: 390px;
    
}
.main{
    flex-grow: 1;
    background-color: #EFF3F9;
    border-radius: 4px;
}