@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');

ul.navbar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
    position: fixed;
    top: 0;
    width: 100%;
}


li {
    float: left;
}
ul{
    overflow: hidden;
}

#logo img {
    height: 50px;
    object-fit: fit;
}

.button{
    float: right;
    width: 120px;
    cursor: pointer;

}

#login {
    background-color: #ebedff;
}

#signup {
    margin-right: 50px;
    :hover {
        background-color: white;
    }
}

#logo {
    padding-left: 50px;
    padding-right: 20px;
    height: 50px;
}

li a {
    display: block;
    color: #2a3169;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
}

li a:hover {
    background-color: #ebedff;
}

@media only screen and (max-width: 500px) {
    li a {
        display: none;
        
    }
  }