.data{
    position: absolute;
    top: calc(var(--max-height-bar) + 10px);
    border-radius: 8px;
    left: 10px;
    max-height: 200px;
    min-width: 30px;
    overflow-y: scroll;
    background-color: #fff;
    justify-self: center;
    align-items: center;
    p{  font-size: 1.6rem;
        display: block;
        font-weight: 500;
        color:#5763B3 ;
    &:hover{
        color: #d61616;
        
    }
    }
}


.wrapper {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font-family);
    cursor: pointer;
    padding: 0px;
    border-radius: 16px;
    background-color: var(--white);
    border: 1px solid transparent;
    user-select: none;
    + .wrapper {
        margin-left: 8px;
    }
    &.disabled {
        pointer-events: none;
        opacity: 0.5;
    }
    --max-height-bar:30px;
    z-index: 1;
}



// Button types
.rounded {
    border-radius: 999px;
    box-shadow: 0 2px 8px rgb(0 0 0 / 6%);
    border-color: rgba(22, 24, 35, 0.12);

    &:hover {
        border-color: rgba(22, 24, 35, 0.2);
        background-color: rgba(22, 24, 35, 0.03);
    }
}


.text {
    &:hover {
        text-decoration: underline;
    }
}

//button type
.primary {
    color: var(--white);
    background-color: var(--primary);
    border-color: var(--primary);

    &:hover {
        border-color: var(--primary);
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)), #6C75B7;
    }
}


.bar{
    position: relative;
}
.active{
    border-color: var(--white);
    background-color:  #f6f6f8;
    color:#5763B3 ;
}

.outline {
    color: var(--primary);
    border-color: currentColor;

    &:hover {
        border-color: currentColor;
        background-color: rgba(254, 44, 85, 0.06);
    }
}

//button size
.small{
    min-width: 88px;
    padding: 4px 16px;
}

.large {
    padding: 14px 16px;
    min-width: 140px;
}
.title{

    border-radius: 16px;
    font-size: 1.6rem;
    color:#5763B3 ;
    background-color: var(--white);
    border: 1px solid transparent;
    width:80%;
    &:hover {
        border-color: var(--white);
        background-color:  #f6f6f8;
        color:#5763B3 ;
    }
    
    
}

.p-tag{
    border-radius: 16px;
    font-size: 1.6rem;
    color:#5763B3 ;
    background-color: var(--white);
    display: inline-flex;
    border: 1px solid transparent;
    width:80%;
}
